.body{
  margin: 0;
}


/* 
  <div><Link to="/Board/Report/list">제보</Link></div>
  
  제보(링크태그)에 마우스 올리면 색깔 변하게 해줬음
*/
a {
  color: inherit;
  text-decoration: none;
  &:hover{
    color: #DBE76D;
  }
}

