<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
  <select id="login" resultType="AdminVo">
  	SELECT 
  		ADMIN_NO
  	FROM ADMIN
  	WHERE ID=#{id}
  	AND PWD = #{pwd}
  </select>

  <select id="getAdoptList" resultType="ApplyVo">
    	SELECT 
    		RD.DOG_NAME
    		,RD.RESCUE_DOG_NO
    		, A.DECISION_TIME
    		, A.MAIN_REASON
    		, A.FAMILY_MEMBERS
    		, A.CURRENT_PETS
    		, A.LANDlORD_PERMISSION_YN
    		, A.CONFLICTRESOLUTION
    		, A.ENROLL_DATE
    	FROM APPLY A
    	JOIN RESCUE_DOG RD ON RD.RESCUE_DOG_NO = A.RESCUE_DOG_NO
    		
    </select>
    
    <select id="getSurveyList" resultType="SurveyVo">
  	SELECT
  		S.RESIDENCE
  		, S.RESCUE_DOG_NO
  		, S.MARITAL_STATUS_YN
  		, S.JOB
  		, S.HOUSING_TYPE
  		, S.SURVEY_DATE
  		, M.MEMBER_NO
  	FROM SURVEY S
  	JOIN MEMBER M ON M.MEMBER_NO = S.MEMBER_NO
  </select>
	
	
	
	<!-- 방문예약 목록조회 -->
	<!-- 
	<select id="reservationList" resultType="com.kh.app.visit.vo.VisitVo">
		SELECT *
		FROM (
		    SELECT ROWNUM RNUM, T.*
		    FROM (
		        SELECT
				    V.VISIT_NO
				    ,V.MEMBER_NO
				    ,V.RESERVATION_STATUS_NO
				    ,V.RESERVATION_DATE
				    ,V.SUMMIT_DATE
				    ,V.MODIFY_DATE
				    ,V.DEL_YN
				    ,S.RESERVATION_STATUS
				    ,M.NAME
				    ,M.PHONE_NUMBER
				FROM 
				    VISIT_RESERVATION V
					JOIN RESERVATION_STATUS S ON S.RESERVATION_STATUS_NO = V.RESERVATION_STATUS_NO
					JOIN MEMBER M ON M.MEMBER_NO = V.MEMBER_NO
		        ORDER BY
		            VISIT_NO DESC
		    ) T
		)
		WHERE RNUM BETWEEN #{startRow} AND #{lastRow}
	</select>
	 -->
	<select id="reservationList" resultType="com.kh.app.visit.vo.VisitVo">
	    SELECT *
	    FROM (
	        SELECT ROWNUM RNUM, T.*
	        FROM (
	            SELECT
	                V.VISIT_NO
	                ,V.MEMBER_NO
	                ,V.RESERVATION_STATUS_NO
	                ,V.RESERVATION_DATE
	                ,V.SUMMIT_DATE
	                ,V.MODIFY_DATE
	                ,V.DEL_YN
	                ,S.RESERVATION_STATUS
	                ,M.NAME
	                ,M.PHONE_NUMBER
	            FROM 
	                VISIT_RESERVATION V
	                JOIN RESERVATION_STATUS S ON S.RESERVATION_STATUS_NO = V.RESERVATION_STATUS_NO
	                JOIN MEMBER M ON M.MEMBER_NO = V.MEMBER_NO
				<where>
	                <if test="reservationStatus == null or reservationStatus == ''">
	                    S.RESERVATION_STATUS IN ('예약 중', '상담 완료', '예약 취소')
	                </if>
	                <if test="reservationStatus != null and reservationStatus != ''">
	                    AND S.RESERVATION_STATUS = #{reservationStatus} 
	                </if>
	                <if test="orderBy != null">
	                    ORDER BY
	                    <choose>
	                        <when test="orderBy == 'visitNo'">V.VISIT_NO DESC</when>
	                        <when test="orderBy == 'reservationDate'">V.RESERVATION_DATE ASC</when>
	                    </choose>
	                </if>
				</where>
	        ) T
	    )
	    WHERE RNUM BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<!-- 페이징용 게시글 조회 -->
	<select id='listCount' resultType="Integer">
	    SELECT 
	    	COUNT(*) as cnt 
	    FROM 
	    	VISIT_RESERVATION VR
	    JOIN RESERVATION_STATUS RS ON RS.RESERVATION_STATUS_NO = VR.RESERVATION_STATUS_NO
	    <where>
	        <if test="reservationStatus != null and reservationStatus != ''">
	            RS.RESERVATION_STATUS = #{reservationStatus}
	        </if>
	    </where>
	</select>
	
	<!-- 방문예약 상세 조회 -->
	<select id="reservationDetail" resultType="com.kh.app.visit.vo.VisitVo">
        SELECT
		    V.VISIT_NO
		    ,V.MEMBER_NO
		    ,V.RESERVATION_STATUS_NO
		    ,V.RESERVATION_DATE
		    ,V.SUMMIT_DATE
		    ,V.MODIFY_DATE
		    ,V.DEL_YN
		    ,S.RESERVATION_STATUS
		    ,M.NAME
		    ,M.PHONE_NUMBER
		FROM 
		    VISIT_RESERVATION V
			JOIN RESERVATION_STATUS S ON S.RESERVATION_STATUS_NO = V.RESERVATION_STATUS_NO
			JOIN MEMBER M ON M.MEMBER_NO = V.MEMBER_NO
		WHERE 
			V.VISIT_NO = #{visitNo}
	</select>
	
	
	<!--방문예약 상담취소/삭제 -->
	<update id="quit">
		UPDATE 
			VISIT_RESERVATION
	    SET
            RESERVATION_STATUS_NO = 3
	        ,MODIFY_DATE = SYSDATE
            ,DEL_YN = 'Y'
	    WHERE
            VISIT_NO = #{visitNo}
	</update>
	<!--방문예약 상담완료/삭제 -->
	<update id="complete">
		UPDATE 
			VISIT_RESERVATION
	    SET
	        RESERVATION_STATUS_NO = 2
	        ,MODIFY_DATE = SYSDATE
	        ,DEL_YN = 'Y'
	    WHERE 
	    	VISIT_NO = #{visitNo}
	</update>

</mapper>