<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdoptionMapper">

    <!-- 입양 신청 리스트 조회 -->
    <select id="list" resultType="com.kh.app.adoption.vo.AdoptionVo">
	    SELECT 
	        A.ADOPTION_BOARD_NO,
	        A.ADMIN_NO,
	        A.RESCUE_DOG_NO,
	        A.DEL_YN,
	        RD.RESCUE_DOG_NO,
	        RD.IMAGE_NO,
	        RD.DOG_NAME,
	        RD.BREED,
	        CASE WHEN RD.GENDER_MF = 'M' THEN '남아' 
	             WHEN RD.GENDER_MF = 'F' THEN '여아'
	             ELSE RD.GENDER_MF END AS GENDER_MF,
	        RD.NEUTERING_OX,
	        RD.AGE,
	        RD.WEIGHT,
	        RD.ADOPTION_COMPLETE_YN,
	        I.IMAGE_PATH
	    FROM 
	        ADOPTION_BOARD A
	    JOIN 
	        RESCUE_DOG RD ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
	    JOIN 
	        IMAGE I ON I.IMAGE_NO = RD.IMAGE_NO
	    WHERE 
	        A.DEL_YN = 'N'
	    AND 
	        RD.ADOPTION_COMPLETE_YN = 'N'
	    ORDER BY 
	        A.ENROLL_DATE DESC
	</select>
    
    <select id='listCount' resultType="Integer">
		SELECT 
			COUNT(*) AS cnt
		FROM 
			ADOPTION_BOARD A
		JOIN 
			RESCUE_DOG RD 
				ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
		WHERE 
			A.DEL_YN = 'N' 
		AND 
			RD.ADOPTION_COMPLETE_YN = 'N'

	</select>
	
	<!-- 게시글의 입양 완료 처리 -->
    <update id="complete">
	    UPDATE 
	    	RESCUE_DOG 
		SET 
			ADOPTION_COMPLETE_YN = 'Y'
			, QUIT_DATE = SYSDATE
		WHERE 
			RESCUE_DOG_NO = #{rescueDogNo}
		<!-- AND 
			NOT EXISTS (
			    SELECT 1
			    FROM ADOPTION_BOARD AB
			    WHERE AB.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
			    AND RD.ADOPTION_COMPLETE_YN = 'Y'
			) -->
    </update>

    <!-- 입양 신청 상세 조회 -->
    <select id="detail" resultType="com.kh.app.adoption.vo.AdoptionVo">
	    SELECT
	        A.ADOPTION_BOARD_NO,
	        A.ADMIN_NO,
	        A.ENROLL_DATE,
	        A.MODIFY_DATE,
	        A.DEL_YN,
	        RD.RESCUE_DOG_NO,
	        RD.IMAGE_NO,
	        RD.DOG_NAME,
	        RD.BREED,
	        CASE WHEN RD.GENDER_MF = 'M' THEN '남아' 
	             WHEN RD.GENDER_MF = 'F' THEN '여아'
	             ELSE RD.GENDER_MF END AS GENDER_MF,
	        RD.NEUTERING_OX,
	        RD.AGE,
	        RD.WEIGHT,
	        RD.ADOPTION_COMPLETE_YN,
	        I.IMAGE_PATH
	    FROM
	        ADOPTION_BOARD A
	    JOIN
	        RESCUE_DOG RD 
	            ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
	    JOIN
	        IMAGE I 
	            ON I.IMAGE_NO = RD.IMAGE_NO
	    WHERE
	        A.DEL_YN = 'N'
	    AND
	        RD.ADOPTION_COMPLETE_YN ='N'
	    AND 
	        A.ADOPTION_BOARD_NO = #{adoptionBoardNo}
	</select>
    
    <!-- 입력한 견종에 해당하는 RESCUE_DOG_NO 가져오기 -->
    <select id="findDogNoByBreed" resultType="java.lang.String">
    	SELECT 
    		SEQ_RESCUE_DOG_NO.CURRVAL
	    FROM 
	    	DUAL
    </select>
    
    <!-- 게시글 작성 -->
    <insert id="write" >
		INSERT INTO ADOPTION_BOARD
        (
            ADOPTION_BOARD_NO
            , IMAGE_NO
            , RESCUE_DOG_NO
            , ADMIN_NO
        )
        VALUES
        (
            SEQ_ADOPTION_BOARD_NO.NEXTVAL
            , #{imageNo}
            , #{rescueDogNo}
            , #{adminNo}
        ) 
	</insert>

    <!-- 이미지 업로드 -->
    <insert id="insert">
    	INSERT INTO IMAGE
		(
			IMAGE_NO
			,IMAGE_PATH
		)
		VALUES
		(
			SEQ_IMAGE_NO.NEXTVAL
			,#{imagePath}
		)
    </insert>
   
	<!-- 이미지 시퀀스 가져오는 쿼리문  -->
	<select id="imageSeqNo"  resultType="java.lang.String">
		SELECT 
			SEQ_IMAGE_NO.CURRVAL
		FROM 
			DUAL
	</select>

    <!-- 입양 신청 수정 -->
	<update id="editBoard">
	    UPDATE 
	    	RESCUE_DOG
	    SET
	        BREED = #{breed},
	        DOG_NAME = #{dogName},
	        AGE = #{age},
	        GENDER_MF = #{genderMf},
	        NEUTERING_OX = #{neuteringOx},
	        WEIGHT = #{weight}
	    WHERE
	        RESCUE_DOG_NO = (
	            SELECT RESCUE_DOG_NO
	            FROM ADOPTION_BOARD
	            WHERE ADOPTION_BOARD_NO = #{adoptionBoardNo}
	        )
	</update>
	
	<!-- 이미지 수정 -->
	<update id="editImage">
		UPDATE
			IMAGE
		SET
			IMAGE_PATH = #{imagePath}
		WHERE
			IMAGE_NO = #{imageNo}
	</update>

    

    <!-- 입양 신청 삭제 -->
    <update id="delete">
        UPDATE 
        	ADOPTION_BOARD
        SET 
        	DEL_YN = 'Y'
        WHERE 
        	ADOPTION_BOARD_NO = #{adoptionBoardNo}
    </update>
	
	<!-- 관리자가 입양하기->입양신청-> 등록하기클릭 후 입력한 정보부터 입력 -->
	<insert id="insertRescueDog">
    	INSERT INTO RESCUE_DOG
		(
			RESCUE_DOG_NO
			, IMAGE_NO
			, BREED
			, ADMISSION_DATE
			, DOG_NAME
			, AGE
			, GENDER_MF
			, NEUTERING_OX
			, WEIGHT
		)
		VALUES
		(
			SEQ_RESCUE_DOG_NO.NEXTVAL
			, #{imageNo}
			, #{breed}
			, SYSDATE
			, #{dogName}
			, #{age}
			, #{genderMf}
			, #{neuteringOx}
			, #{weight}
		)
    </insert>
	
</mapper>

