<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdoptionMapper">

	<insert id="insert">
		INSERT INTO Adoption (
		    ADOPTION_NO,
		    IMAGE_NO,
		    RESCUE_DOG_NO,
		    ADMIN_NO,
		    ENROLL_DATE,
		    MODIFY_DATE,
		    DEL_YN
		) VALUES (
		    #{adoptionNo},
		    #{imageNo},
		    #{rescueDogNo},
		    #{adminNo},
		    SYSDATE,
		    SYSDATE,
		    'N'
		)
	</insert>
  
</mapper>