<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdoptionOkMapper">

    <!-- 입양 승인 리스트 조회 -->
    <select id="list" resultType="com.kh.app.adoption.vo.AdoptionVo">
        SELECT *
        FROM (
        	SELECT ROWNUM RNUM, T.*
        	FROM (
        		SELECT 
	                A.ADOPTION_BOARD_NO,
	                A.ADMIN_NO,
	                A.RESCUE_DOG_NO,
	                A.DEL_YN,
	                RD.RESCUE_DOG_NO AS RD_RESCUE_DOG_NO, -- 열 이름 변경
	                RD.IMAGE_NO AS RD_IMAGE_NO, -- 열 이름 변경
	                RD.DOG_NAME,
	                RD.BREED,
	                CASE WHEN RD.GENDER_MF = 'M' THEN '남아' 
	                     WHEN RD.GENDER_MF = 'F' THEN '여아'
	                     ELSE RD.GENDER_MF END AS GENDER_MF,
	                RD.NEUTERING_OX,
	                RD.AGE,
	                RD.WEIGHT,
	                RD.ADOPTION_COMPLETE_YN,
	                I.IMAGE_PATH
			    FROM
			        ADOPTION_BOARD A
			    JOIN
			        RESCUE_DOG RD ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
			    JOIN
			        IMAGE I ON I.IMAGE_NO = RD.IMAGE_NO
			    WHERE
			        A.DEL_YN = 'N'
			    AND
			        RD.ADOPTION_COMPLETE_YN = 'Y'
			    ORDER BY
			        RD.QUIT_DATE DESC
        	) T
        )
        WHERE RNUM BETWEEN #{startRow} AND #{lastRow}
    </select>

	<!-- 페이지 갯수 -->
	<select id='listCount' resultType="Integer">
		SELECT 
			COUNT(*) AS cnt
		FROM 
			ADOPTION_BOARD A
		JOIN 
			RESCUE_DOG RD 
				ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
		WHERE 
			A.DEL_YN = 'N' 
		AND 
			RD.ADOPTION_COMPLETE_YN = 'Y'
		<!-- SELECT 
			COUNT(*) as cnt 
		FROM 
			ADOPTION_BOARD 
		WHERE 
			DEL_YN = 'N'
		AND
			ADOPTION_COMPLETE_YN = 'N' -->
	</select>
	
	<!-- 상세조회 -->
	<select id="detail" resultType="com.kh.app.adoption.vo.AdoptionVo">
         SELECT
	        A.ADOPTION_BOARD_NO,
	        A.ADMIN_NO,
	        A.ENROLL_DATE,
	        A.MODIFY_DATE,
	        A.DEL_YN,
	        RD.RESCUE_DOG_NO,
	        RD.IMAGE_NO,
	        RD.DOG_NAME,
	        RD.BREED,
	        RD.GENDER_MF,
	        RD.NEUTERING_OX,
	        RD.AGE,
	        RD.WEIGHT,
	        RD.ADOPTION_COMPLETE_YN,
	        RD.QUIT_DATE,
	        I.IMAGE_PATH
	    FROM
	        ADOPTION_BOARD A
	    JOIN
	        RESCUE_DOG RD ON A.RESCUE_DOG_NO = RD.RESCUE_DOG_NO
	    JOIN
	        IMAGE I ON I.IMAGE_NO = RD.IMAGE_NO
	    WHERE
	        A.DEL_YN = 'N'
	    AND
	        RD.ADOPTION_COMPLETE_YN ='Y'
	    AND
	    	RD.QUIT_DATE = SYSDATE
	    AND 
	    	A.ADOPTION_BOARD_NO = #{adoptionBoardNo}
    </select>
    
	
	

</mapper>

  