<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdoptionMapper">

    <!-- 입양 신청 리스트 조회 -->
    <select id="list" resultType="com.kh.app.adoption.vo.AdoptionVo">
        SELECT 
        	ADOPTION_NO
        	, IMAGE_NO
        	, RESCUE_DOG_NO
        	, ADMIN_NO
        	, ENROLL_DATE
        	, MODIFY_DATE
        	, DEL_YN
        FROM 
        	ADOPTION_BOARD
        WHERE 
        	DEL_YN = 'N'
        ORDER BY 
        	ADOPTION_NO DESC
    </select>

    <!-- 입양 신청 상세 조회 -->
    <select id="detail" resultType="com.kh.app.adoption.vo.AdoptionVo">
        SELECT ADOPTION_NO, IMAGE_NO, RESCUE_DOG_NO, ADMIN_NO, ENROLL_DATE, MODIFY_DATE, DEL_YN
        FROM ADOPTION_BOARD
        WHERE ADOPTION_NO = #{adoptionNo}
    </select>

    <!-- 입양 신청 등록 -->
    <insert id="write" parameterType="com.kh.app.adoption.vo.AdoptionVo">
        INSERT INTO ADOPTION_BOARD 
        (
        	ADOPTION_NO
        	, IMAGE_NO
        	, RESCUE_DOG_NO
        	, ADMIN_NO
        	, ENROLL_DATE
        	, MODIFY_DATE
        	, DEL_YN
        )
        VALUES 
        (
        	SEQ_ADOPTION_NO.NEXTVAL
        	, #{imageNo}
        	, #{rescueDogNo}
        	, #{adminNo}
        	, #{enrollDate}
        	, #{modifyDate}
        	, #{delYn}
        )
    </insert>

    <!-- 입양 신청 수정 -->
    <update id="edit" parameterType="com.kh.app.adoption.vo.AdoptionVo">
        UPDATE ADOPTION_BOARD
        SET IMAGE_NO = #{imageNo},
            RESCUE_DOG_NO = #{rescueDogNo},
            ADMIN_NO = #{adminNo},
            ENROLL_DATE = #{enrollDate},
            MODIFY_DATE = #{modifyDate},
            DEL_YN = #{delYn}
        WHERE ADOPTION_NO = #{adoptionNo}
    </update>

    <!-- 입양 신청 삭제 -->
    <update id="delete">
        UPDATE ADOPTION_BOARD
        SET DEL_YN = 'Y'
        WHERE ADOPTION_NO = #{adoptionNo}
    </update>

</mapper>

