<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
  	
  	<insert id = "join">
  		INSERT INTO MEMBER
  		(
  			MEMBER_NO
  			, ID
  			, PWD
  			, NICK
  			, NAME
  			, PHONE_NUMBER
  			, EMAIL
  			, BIRTHDAY
  		) 
  		VALUES
  		(
	  		SEQ_MEMBER_NO.NEXTVAL
	  		, #{id}
	  		, #{pwd}
	  		, #{nick}
	  		, #{name}
	  		, #{phoneNumber}
	  		, #{email}
	  		, #{birthday}
  		)
	</insert>
  	
  	<update id="quit">
  		UPDATE MEMBER
  		SET
  			DEL_YN = 'Y'
  			WHERE NO = #{memberNo}
  	</update>
  	<select id = "login" resultType="MemberVo">
  		SELECT
  			MEMBER_NO
  			, NAME
  			, NICK
  			, ENROLL_DATE
  			, PASS_YN
  			, SURVAY_RESULT
  		FROM MEMBER
  		WHERE ID = #{id}
  		AND PWD = #{pwd}
  		AND DEL_YN = 'N'
  	</select>
  	<update id="edit">
		  UPDATE MEMBER 
		  SET 
		  <if test="pwd != null">
		    PWD = #{pwd},
		  </if>
		  <if test="nick != null">
		    NICK = #{nick},
		  </if>
		  <if test="name != null">
		    NAME = #{name},
		  </if>
		  <if test="phoneNumber != null">
		    PHONE_NUMBER = #{phoneNumber},
		  </if>
		  <if test="email != null">
		    EMAIL = #{email},
		  </if>
		  <if test="birthday != null">
		    BIRTHDAY = #{birthday},
		  </if>
		  WHERE MEMBER_NO = #{memberNo} 
		  AND DEL_YN = 'N'
	</update>
  	
  	<select id="searchId" resultType="MemberVo">
  		SELECT ID
  		FROM MEMBER
  		WHERE NAME=#{name}
  		AND EMAIL=#{email}
  	</select>
</mapper>