<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
  	
  	<insert id = "join">
  		INSERT INTO MEMBER
  		(
  			MEMBER_NO
  			, ID
  			, PWD
  			, NICK
  			, NAME
  			, PHONE_NUMBER
  			, EMAIL
  			, BIRTHDAY
  		) 
  		VALUES
  		(
	  		SEQ_MEMBER_NO.NEXTVAL
	  		, #{id}
	  		, #{pwd}
	  		, #{nick}
	  		, #{name}
	  		, #{phoneNumber}
	  		, #{email}
	  		, #{birthday}
  		)
	</insert>
  	
  	<update id="quit">
  		UPDATE MEMBER
  		SET
  			DEL_YN = 'Y'
  			WHERE NO = #{memberNo}
  	</update>
  	<select id = "login" resultType="MemberVo">
  		SELECT
  			MEMBER_NO
  			, NAME
  			, NICK
  			, ENROLL_DATE
  			, PASS_YN
  			, SURVAY_RESULT
  		FROM MEMBER
  		WHERE ID = #{id}
  		AND PWD = #{pwd}
  		AND DEL_YN = 'N'
  	</select>
  	<update id="edit">
  	UPDATE MEMBER 
  		SET 
  		PWD = #{pwd}
  		<trim prefixOverrides=",">
		<if test="pwd != null and pwd !=''">
  		, NICK = #{nick}
		</if>
		<if test="nick != null and nick !=''">
  		, NAME = #{name}
		</if>
		<if test="name != null and name !=''">
  		, PHONE_NUMBER = #{phoneNumber}
		</if>
		<if test="phoneNumber != null and phoneNumber !=''">
  		, EMAIL = #{email}
		</if>
		<if test="email != null and email !=''">
  		, BIRTHDAY = #{birthday}
		</if>
  		</trim>
  		 WHERE NO = #{memberNo} 
  		 AND DEL_YN = 'N';
  	</update>
  	
  
</mapper>