<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
  	
  	<insert id = "join">
  		INSERT INTO MEMBER
  		(
  			MEMBER_NO
  			, ID
  			, PWD
  			, NICK
  			, NAME
  			, PHONE_NUMBER
  			, EMAIL
  			, BIRTHDAY
  		) 
  		VALUES
  		(
	  		SEQ_MEMBER_NO.NEXTVAL
	  		, #{id}
	  		, #{pwd}
	  		, #{nick}
	  		, #{name}
	  		, #{phoneNumber}
	  		, #{email}
	  		, #{birthday}
  		)
	</insert>
  	
  	<update id="quit">
  		UPDATE MEMBER
  		SET
  			DEL_YN = 'Y'
  			WHERE ID = #{id} 
  	</update>
  	<select id = "login" resultType="MemberVo">
  		SELECT
  			MEMBER_NO
  			, ID
  			, PWD
  			, NAME
  			, NICK
  			, ENROLL_DATE
  			, BIRTHDAY
  			, PHONE_NUMBER
  			, EMAIL
  			, PASS_YN
  			, SURVAY_RESULT
  		FROM MEMBER
  		WHERE ID = #{id}
  		AND DEL_YN = 'N'
  	</select>
  	<update id="edit">
		  UPDATE MEMBER 
		  SET
		    <if test="pwd != null">
		      PWD = #{pwd}<if test="nick != null or name != null or phoneNumber != null or email != null or birthday != null">,</if>
		    </if>
		    <if test="nick != null">
		      NICK = #{nick}<if test="name != null or phoneNumber != null or email != null or birthday != null">,</if>
		    </if>
		    <if test="name != null">
		      NAME = #{name}<if test="phoneNumber != null or email != null or birthday != null">,</if>
		    </if>
		    <if test="phoneNumber != null">
		      PHONE_NUMBER = #{phoneNumber}<if test="email != null or birthday != null">,</if>
		    </if>
		    <if test="email != null">
		      EMAIL = #{email}<if test="birthday != null">,</if>
		    </if>
		    <if test="birthday != null">
		      BIRTHDAY = #{birthday}
		    </if>
		  WHERE MEMBER_NO = #{memberNo} 
		  AND DEL_YN = 'N'
	</update>
	<select id="updateProfile" resultType="MemberVo">
		SELECT 
			MEMBER_NO
			, ID
			, NICK
			, NAME
			, PHONE_NUMBER
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
  	<select id="searchId" resultType="MemberVo">
  		SELECT ID
  		FROM MEMBER
  		WHERE NAME=#{name}
  		AND EMAIL=#{email}
  	</select>
  	<update id="changeTempPwd">
  		UPDATE MEMBER SET
  			PWD = #{pwd}
  		WHERE ID = #{id}
  		AND NAME = #{name}
  		AND EMAIL = #{email}
  		AND DEL_YN = 'N'
  	</update>
  	
</mapper>