<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveyMapper">
  <insert id="insert">
  	INSERT INTO SURVEY
  	(
  		SURVEY_NO
  		, MEMBER_NO
  		, RESIDENCE
  		, JOB
  		, HOUSING_TYPE
  		, REASON
  	) 
  	VALUES
  	(
  		SEQ_SURVEY_NO.NEXTVAL
  		, #{memberNo}
  		, #{residence}
  		, #{job}
  		, #{housingType}
  		, #{reason}
	)
  </insert>
  
  <update id="updateResult">
  	UPDATE MEMBER 
  		SET 
  			SURVEY_RESULT = 'O' 
		WHERE
			MEMBER_NO = #{memberNo}
  </update>
</mapper>