<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurvayMapper">
  <insert id="insert">
  	INSERT INTO SURVAY
  	(
  		SURVAY_NO
  		, MEMBER_NO
  		, RESIDENCE
  		, JOB
  		, HOUSING_TYPE
  		, REASON
  	) 
  	VALUES
  	(
  		SEQ_SURVAY_NO.NEXTVAL
  		, #{memberNo}
  		, #{residence}
  		, #{job}
  		, #{housingType}
  		, #{reason}
	)
  </insert>
</mapper>