<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveyMapper">
  <insert id="insert">
  	INSERT INTO SURVEY
  	(
  		SURVEY_NO
  		, RESCUE_DOG_NO
  		, MEMBER_NO
  		, RESIDENCE
  		, JOB
  		, HOUSING_TYPE
  	) 
  	VALUES
  	(
  		SEQ_SURVEY_NO.NEXTVAL
  		, #{rescueDogNo}
  		, #{memberNo}
  		, #{residence}
  		, #{job}
  		, #{housingType}
	)
  </insert>
  
  <update id="updateResult">
  	UPDATE MEMBER 
  		SET 
  			SURVEY_RESULT = 'O' 
		WHERE
			MEMBER_NO = #{memberNo}
  </update>
  <select id="getSurveyList" resultType="SurveyVo">
  	SELECT
  		S.RESIDENCE
  		, S.RESCUE_DOG_NO
  		, S.MARITAL_STATUS_YN
  		, S.JOB
  		, S.HOUSING_TYPE
  		, S.SURVEY_DATE
  		, M.MEMBER_NO
  	FROM SURVEY S
  	JOIN MEMBER M ON M.MEMBER_NO = S.MEMBER_NO
  	WHERE M.MEMBER_NO = #{memberNo}
  	ORDER BY S.SURVEY_DATE DESC
  </select>
  <update id="editSurvey">
		  UPDATE SURVEY 
		  SET
		    <if test="residence != null">
		      RESIDENCE = #{residence}<if test="job != null or housingType != null or maritalStatusYn != null">,</if>
		    </if>
		    <if test="job != null">
		      JOB = #{job}<if test="housingType != null or maritalStatusYn != null">,</if>
		    </if>
		    <if test="housingType != null">
		      HOUSING_TYPE = #{housingType}<if test="maritalStatusYn != null">,</if>
		    </if>
		    <if test="maritalStatusYn != null">
		      MARITAL_STATUS_YN = #{maritalStatusYn}
		    </if>
		    
		  WHERE MEMBER_NO = #{memberNo} 
		  AND RESCUE_DOG_NO = #{rescueDogNo}
	</update>
</mapper>